.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 2px 4px;
  font-size: 12px;
  line-height: 1;
}

.m {
  padding: 4px 8px;
  font-size: 20px;
  line-height: 1.2;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  font-weight: bold;
  background: #de0000;
}

.grey {
  color: var(--white);
  font-weight: bold;
  background: #b3c0d9;
}

.primary {
  color: var(--primary);
  background: none;
  border: 1px solid var(--primary);
}
