@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 4px;
}

:root {
  --text-main: #1a1a1a;
  --text-secondary: #7b8e97;
  --text-white: #ffffff;
  --text-outline: #cfd8dc;
  --primary: #ffe44d;
  --primary-dark: #ffaa0d;
  --primary-light: #fff5c0;
  --red: #f44336;
  --white: #ffffff;
  --green: #01a54e;
  --font-family: "Nunito", "Helvetica", sans-serif;
}
