.search {
  position: relative;
  width: 100%;
}

.search input {
  width: 100%;
}

.button {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  background-color: var(--text-white) !important;
}
